<phpunit
	bootstrap="test/DependTest.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="unit" suffix=".php">
			<directory>.</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">.</directory>
		</whitelist>
	</filter>
	<log type="coverage-clover" target="results/reports/coverage/clover.xml"/>
</phpunit>